<%= render 'shared/nav' %>
<div class="container-fluid">
    <%= render 'shared/sidenavbar'%>
  <div class="row">

    <div class="col-lg-8">
      <div>
            <h2 align="center" class="tittle"><%= @patient.full_name %> </h2>
        </div>
        <div >
            <br>
            <br>
            <h3>Datos Generales</h3>
            <hr>
        </div>
          <div class="col-lg-4">
      		    <h4><strong>Número de paciente</strong></h4> <%= @patient.id %>
          </div>
          <div class="col-lg-4">
      		    <h4><strong>Edad</strong></h4> <%= @patient.age %>
          </div>
          <div class="col-lg-4">
      		    <h4><strong>Fecha de nacimiento</strong></h4> <%= @patient.date_birth %>
          </div>
          <div class="col-lg-4">
            <br>
      		    <h4><strong>Sexo</strong></h4> <%= @patient.gender %>
          </div>
          <div class="col-lg-4">
            <br>
      		    <h4><strong>Escolaridad</strong></h4> <%= @patient.scholarship  %>
          </div>
          <div class="col-lg-4">
            <br>
      		    <h4><strong>Ocupación</strong></h4> <%= @patient.occupation  %>
          </div>
          <div class="col-lg-4">
            <br>
              <h4><strong>Estado civil:</strong></h4> <%= @patient.civil_status  %>
          </div>
          <div class="col-lg-4">
            <br>
      		    <h4><strong>Telefono:</strong></h4> <%= @patient.telephone  %>
          </div>
          <div class="col-lg-4">
            <br>
              <h4><strong>Correo Electronico:</strong></h4> <%= @patient.email  %>
          </div>

          <div class="col-lg-11">
            <br>
            <br>
              <h3>Domicilio</h3>
              <hr>
          </div>
          <div class="col-lg-4">
            <h4><strong>Calle</strong></h4> <%= @patient.street  %>
          </div>
          <div class="col-lg-4">
            <h4><strong>Número</strong></h4> <%= @patient.number  %>
          </div>
          <div class="col-lg-4">
            <h4><strong>Colonia</strong></h4> <%= @patient.suburb  %>
          </div>
          <div class="col-lg-4">
            <br>
            <h4><strong>Ciudad</strong></h4> <%= @patient.city  %>
            <br>
          </div>
          <div class="col-lg-4">
            <br>
            <h4><strong>Municipio</strong></h4> <%= @patient.mun  %>
            <br>
          </div>
          <div class="col-lg-4">
            <br>
            <h4><strong>Estado</strong></h4> <%= @patient.county  %>
            <br>
          </div>

          <div class="col-lg-11">
            <br>
            <br>
            <h3>Motivo de visita</h3>
            <hr>
          <div class="col-md-offset-1 ">
            <br>
          </h4> <%= @patient.reason_desc  %>
          </div>
        </div>

    </div>

  </div>
    <div class="col-md-offset-10 ">
      <br>
      <br>
      <%= link_to 'Eliminar', patient_path(@patient), method: :delete, class: 'btn btn-danger',data: { confirm: '¿Seguro que quiere eliminar este paciente?' } %>
      <%= link_to 'Editar', edit_patient_path(@patient), class: 'btn btn-primary' %>
      <br>
      <br>
    </div>

</div>
