<div class="row">
  <div class="col-lg-8">
    <%= form_for @appointment, class: "form-horizontal" do |f| %>
    <% if @appointment.errors.any?%>
      <% @appointment.errors.full_messages.each do |error|%>
        <%= error.inspect%>
    <% end %>
    <% end %>
    <div class="container col-sm-12">
      <div class="form-group ">
        <h4>Datos de la cita</h4>
        <hr>
        <h5><%= f.label :"Paciente", class: "col-sm-7 control-label" %></h5>
        <%= f.collection_select(:patient_id, Appointment.last.patient.user.patients, :id, :full_name) %>


      </div>

    <div class="form-group">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
